# virtualenv
scsc/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller artefakty
build/
# ignorujemy zawartość dist, ale pozwalamy na paczki .7z
dist/*
!dist/*.7z
*.spec

# Logi i lokalne configi
logs/
config/history.json
config/settings.json
last_capture.png

# Tesseract (lokalny bundle - nie commitujemy binarek)
tesseract_bundle/

# IDE / system
.vscode/
.idea/
.DS_Store
Thumbs.db
